<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93dd95">  <td>18/08/26 13:37:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:Week6Day1.TC002_CreateLead@78c03f1f]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/08/26 13:38:15</td>   <td>28796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:Week6Day1.TC002_CreateLead@78c03f1f]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/08/26 13:37:38</td>   <td>-7839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead()[pri:0, instance:Week6Day1.TC002_CreateLead@78c03f1f]">createLead</td> 
  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/08/26 13:38:07</td>   <td>21515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead()[pri:0, instance:Week6Day1.TC002_CreateLead@78c03f1f]">createLead</td> 
  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/08/26 13:36:54</td>   <td>-52145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:Week6Day1.TC002_CreateLead@78c03f1f]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/08/26 13:37:47</td>   <td>988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:Week6Day1.TC002_CreateLead@78c03f1f]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/08/26 13:36:54</td>   <td>-52177</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setdata()[pri:0, instance:Week6Day1.TC002_CreateLead@78c03f1f]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/08/26 13:36:53</td>   <td>-52716</td> <td title="&gt;&gt;LearnReport.startResult()[pri:0, instance:Week6Day1.TC002_CreateLead@78c03f1f]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/08/26 13:36:54</td>   <td>-52161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LearnReport.startTestcase()[pri:0, instance:Week6Day1.TC002_CreateLead@78c03f1f]">&gt;&gt;startTestcase</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/08/26 13:37:47</td>   <td>987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LearnReport.startTestcase()[pri:0, instance:Week6Day1.TC002_CreateLead@78c03f1f]">&gt;&gt;startTestcase</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
</table>
