<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b467">  <td>18/08/26 17:32:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:Week6Day1.TC002_CreateLead@20398b7c]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/08/26 17:33:12</td>   <td>33474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:Week6Day1.TC002_CreateLead@20398b7c]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/08/26 17:32:23</td>   <td>-15117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week6Day1.TC002_CreateLead@20398b7c]">createLead</td> 
  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/08/26 17:33:02</td>   <td>23861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week6Day1.TC002_CreateLead@20398b7c]">createLead</td> 
  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/08/26 17:32:03</td>   <td>-34940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week6Day1.TC002_CreateLead@20398b7c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/08/26 17:32:39</td>   <td>844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Week6Day1.TC002_CreateLead@20398b7c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/08/26 17:32:01</td>   <td>-37177</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setdata()[pri:0, instance:Week6Day1.TC002_CreateLead@20398b7c]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/08/26 17:32:00</td>   <td>-37566</td> <td title="&gt;&gt;LearnReport.startResult()[pri:0, instance:Week6Day1.TC002_CreateLead@20398b7c]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/08/26 17:32:03</td>   <td>-34980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LearnReport.startTestcase()[pri:0, instance:Week6Day1.TC002_CreateLead@20398b7c]">&gt;&gt;startTestcase</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/08/26 17:32:39</td>   <td>843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LearnReport.startTestcase()[pri:0, instance:Week6Day1.TC002_CreateLead@20398b7c]">&gt;&gt;startTestcase</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
</table>
